<!DOCTYPE html>

<html>
  <head>
    <title>Search</title>
    <link rel="stylesheet" href="css/main.css"><link>
  </head>
  <body>
    <div id="main-div" class="main-div">
      <form id="main-form" class="main-form" action="/search">
        <input name="q" id="main-input" class="main-input"></input>
        <button id="main-submit-form-button" class="main-submit-form-button">Go!</button>
      </form>
    </div>
  </body>
</html>